---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PageMain from "../components/PageMain.astro";
import Proyect from "../components/Proyect.astro";
import AboutMe from "../components/AboutMe.astro";
import ContacMe from "../components/ContactMe.astro";
---

<Layout title="Franco Valenti | FullStack Developer">
  <main class="mt-28 md:mt-0">
    <PageMain />
    <div class="w-full h-2 bg-black-900 bg-opacity-90"></div>

    <Proyect />
    <div class="w-full h-2 bg-black-900 bg-opacity-90"></div>

    <AboutMe />
    <div class="w-full h-2 bg-black-900 bg-opacity-90"></div>

    <ContacMe />
  </main>
</Layout>

<style>
  main {
    gap: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
</style>
